/* Basic styling for the page layout */
body {
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 3;
  font-family: Arial, sans-serif;
}
#reading-list {
    min-height: 15em;
}
#left-pane {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  max-height: 80vh;
  overflow-y: auto;
}
#right-pane {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  max-height: 80vh;
  overflow-y: auto;
}
.book {
    display: flex;
    flex-direction: row;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}
/* Styling for the drag-and-drop functionality */
.book.draggable {
  cursor: move;
}
.book.dragging {
  opacity: 0.5;
}
.stars {
    display: inline-block;
    font-size: 24px;
}

.star {
    color: gold;
}

#add-form {
  margin: 2em;
  font-weight: bolder;
  font-size: 22px;
}

#add-form .form-control {
  margin-top: 1em;
}

.form-control label {
  width: 7em;
  display: inline-block;
  text-align: end;
}

#add-form input {
  margin-left: .5em;
  padding: .5em;
  font-size: 18px;
  border-radius: .4em;
} 

.error-text {
  color: red;
  font-weight: lighter;
  font-size: medium;
  padding-left: 11em;
}